{{#link-to 'contactos' class='btn btn-default'}}
  Regresar
{{/link-to}}
<h1>Detalles de contacto</h1>
<span><strong>Nombre: </strong>{{model.nombre}}</span><br>
<span><strong>Apellido: </strong>{{model.apellido}}</span><br>
<span><strong>Tipo de contacto: </strong>{{model.tipoContacto}}</span><br>
<span><strong>Telefono: </strong>{{model.telefono}}</span><br>
{{outlet}}
