{{#link-to 'contactos' class='btn btn-default'}}
  Regresar
{{/link-to}}

<h1>Detalles de contacto</h1>
<table class="table">
  <thead>
    <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Tipo de contacto:</th>
    <th>Telefono</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td>{{model.nombre}}</td>
    <td>{{model.apellido}}</td>
    <td>{{model.tipoContacto}}</td>
    <td>{{model.telefono}}</td>
    </tr>
  </tbody>
</table>
{{outlet}}
