
<div class='page-header form-signin '>
    <h1>Editar proyecto</h1>
</div>
<div class="form-signin">
  {{#each flashMessages.queue as |flash|}}
    {{#flash-message flash=flash as |component flash|}}
      <b>{{component.flashType}}!</b>
      {{flash.message}}
    {{/flash-message}}
  {{/each}}

  <!--Editar nombre del Proyecto-->
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Nombre del proyecto</span>
    {{input type="text" value=nombreProyecto class="form-control" placeholder="La María" aria-describedby="basic-addon1"}}
  </div><br>

  <!--Editar fecha inicio del Proyecto-->
  <div class = "input-group">
    <span class="input-group-addon" id="basic-addon1">Fecha de Inicio</span>
    {{input type="date" value=fechaInicio class="form-control"  aria-describedby="basic-addon1"}}
  </div><br>

  <!--Editar fecha final del Proyecto-->
   <div class = "input-group">
    <span class="input-group-addon" id="basic-addon1">Fecha Final</span>
    {{input type="date" value=fechaFin class="form-control"  aria-describedby="basic-addon1"}}
  </div><br>
  <!--Editar tipo de Proyecto-->
  <div class = "input-group">
    <span class="input-group-addon" id="basic-addon1">Tipo de proyecto</span>
    <select class="form-control" id="tipoProyecto">
      <option></option>
      <option value="Agricola">Agricola</option>
      <option value="Pesca">Pesca</option>
      <option value="Ganaderia">Ganaderia</option>
    </select>
  </div><br>

  <!--Editar descripcion del Proyecto-->
  <div class = "input-group">
    <span class="input-group-addon" id="basic-addon1">Descripción</span>
    {{input type="text" value=descripcion class="form-control" placeholder="Ingrese la descripcion" aria-describedby="basic-addon1"}}
  </div><br>

  <!--Editar fecha final del Proyecto-->
  <div class = "input-group">
    <span class="input-group-addon" id="basic-addon1">Producto a Cosechar</span>
    {{input type="text" value=productoCosecha class="form-control" placeholder="Ingrese la descripcion" aria-describedby="basic-addon1"}}
  </div><br>

  <!--Boton para  editar los campos anteriores-->  
  <button type="button"  class='btn btn-lg btn-success btn-block' {{action 'editarProyecto'}}>Editar proyecto</button>
  
  <!--Boton para regresar a los Proyectos-->  
  {{#link-to 'proyectos.index' class='btn btn-lg btn-danger btn-block'}}
    Cancelar
  {{/link-to}}

</div>
{{outlet}}