{{#each flashMessages.queue as |flash|}}
  {{#flash-message flash=flash as |component flash|}}
    <b>{{component.flashType}}!</b>
    {{flash.message}}
  {{/flash-message}}
{{/each}}
<br>
{{#link-to 'propiedades.agregar-propiedad' class='btn btn-success'}} Agregar propiedad {{/link-to}}
{{#link-to 'index' class='btn btn-default'}}
  Regresar
{{/link-to}}



{{#if model}}
<h1>Propiedades</h1>
<table class="table">
  <thead>
    <tr>
    <th>Nombre</th>
    <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |propiedad|}}
      <tr>
      <td>{{#link-to 'propiedades.propiedad' propiedad.id}} {{propiedad.nombre}} {{/link-to}}</td>
      <!-- <td><button type="button" name="button" {{action 'delete' propiedad.id}} class='btn btn-danger'>Eliminar</button></td> -->
      <td>{{#link-to 'propiedades.propiedad.editar-propiedad' propiedad.id class='btn btn-primary'}}Editar{{/link-to}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{else}}
  <h2>Usted no tiene propiedades registradas</h2>
{{/if}}

{{outlet}}
