<div class='page-header form-signin '>
    <h1>Agregar Proyecto</h1>
</div>
<div class="form-signin">
  {{#each flashMessages.queue as |flash|}}
    {{#flash-message flash=flash as |component flash|}}
      <b>{{component.flashType}}!</b>
      {{flash.message}}
    {{/flash-message}}
  {{/each}}
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Nombre del Proyecto</span>
    {{input type="text" value=nombreProyecto class="form-control" placeholder="Ingrese el nombre del Proyecto" aria-describedby="basic-addon1"}}
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Fecha de Inicio</span>
    {{input type="date" value=fechaInicio class="form-control" placeholder="Ingrese la fecha de inicio" aria-describedby="basic-addon1"}}
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Fecha Fin</span>
    {{input type="date" value=fechaFin class="form-control" placeholder="Ingrese la fecha Fin" aria-describedby="basic-addon1"}}
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Tipo de Proyecto</span>
    <select class="form-control" id="tipoProyecto">
      <option></option>
      <option value="Agricola">Agricola</option>
      <option value="Pesca">Pesca</option>
      <option value="Ganaderia">Ganaderia</option>
    </select>
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Descripcion</span>
    {{input type="text" value=descripcion class="form-control" placeholder="Ingrese la descripcion" aria-describedby="basic-addon1"}}
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Producto a cosechar</span>
    {{input type="text" value=productoCosecha class="form-control" placeholder="Ingrese el producto a Cosechar" aria-describedby="basic-addon1"}}
  </div>
  <br>
  <button type="button"  class='btn btn-lg btn-success btn-block' {{action 'agregarProyecto'}}>Agregar Proyecto</button>
  {{#link-to 'proyectos.index' class='btn btn-lg btn-danger btn-block'}}
    Cancelar
  {{/link-to}}
</div>
{{outlet}}