<div class='page-header form-signin '>
    <h1>Ingresar lote</h1>
</div>
<div class="form-signin">
  {{#each flashMessages.queue as |flash|}}
    {{#flash-message flash=flash as |component flash|}}
      <b>{{component.flashType}}!</b>
      {{flash.message}}
    {{/flash-message}}
  {{/each}}

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Área(m<sup>2</sup>)</span>
    {{input type="text" value=area class="form-control" placeholder="23" aria-describedby="basic-addon1"}}
  </div>
<br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Descripción</span>
    {{textarea value=descripcion class='form-control' placeholder='Lote destinado al almacenamieto del producto' aria-describedby="basic-addon1"}}
  </div>
<br>
  <button type="button"  class='btn btn-lg btn-success btn-block' {{action 'agregarLote'}}>Agregar lote</button>
</div>
{{outlet}}
