{{#each flashMessages.queue as |flash|}}
  {{#flash-message flash=flash as |component flash|}}
    {{flash.message}}
  {{/flash-message}}
{{/each}}

<h1>Detalles de propiedad</h1>
<div id="mensaje" role="alert">

</div>
<table class="table">
  <thead>
    <tr>
    <th>Nombre</th>
    <th>Latitud</th>
    <th>Longitud</th>
    <th>Departamento</th>
    <th>Municipio</th>
    <th>Vereda</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td>{{model.nombre}}</td>
    <td>{{model.latitud}}</td>
    <td>{{model.longitud}}</td>
    <td>{{model.departamento}}</td>
    <td>{{model.municipio}}</td>
    <td>{{model.vereda}}</td>
    </tr>
  </tbody>
</table>


{{#link-to 'propiedades.propiedad.agregar-lote' class='btn btn-success'}} Agregar lote {{/link-to}}
<h1>Lotes</h1>
<table class="table">
  <thead>
    <tr>
    <th>Area</th>
    <th>Descripción</th>
    <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.lotes as |lote|}}
      <tr>
      <td>{{lote.area}}</td>
      <td>{{lote.descripcion}}</td>
      <td><button type="button" name="button" {{action 'delete' lote.id}} class='btn btn-danger'>Eliminar</button>
        {{#link-to 'propiedades.propiedad.lote.editar-lote' model.id lote.id class='btn btn-primary'}}Editar{{/link-to}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{outlet}}
