<div class='page-header form-signin '>
    <h1>Editar lote</h1>
</div>
<h3 class="form-signin">{{mensaje}}</h3>
<div class="form-signin">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Área(m<sup>2</sup>)</span>
    {{input type="number" value=area class="form-control" placeholder="23" aria-describedby="basic-addon1"}}
  </div>
<br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Descripción</span>
    {{textarea value=descripcion class='form-control' placeholder='Lote destinado al almacenamieto del producto' aria-describedby="basic-addon1"}}
  </div>
<br>
  <button type="button"  class='btn btn-lg btn-success btn-block' {{action 'editarLote'}}>Actualizar lote</button>
</div>
{{outlet}}
