<div class='page-header form-signin '>
    <h1>Agregar contacto</h1>
</div>
<div class="form-signin">
  {{#each flashMessages.queue as |flash|}}
    {{#flash-message flash=flash as |component flash|}}
    
      {{flash.message}}
    {{/flash-message}}
  {{/each}}
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Nombre</span>
    {{input type="text" value=nombre class="form-control" placeholder="María" aria-describedby="basic-addon1"}}
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Apellido</span>
    {{input type="text" value=apellido class="form-control" placeholder="Arias" aria-describedby="basic-addon1"}}
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Tipo de contacto</span>
    <select class="form-control" id="tipoContacto">
      <option></option>
      <option value="Cliente">Cliente</option>
      <option value="Proveedor">Proveedor</option>
      <option value="Empleado">Empleado</option>
    </select>
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Telefono</span>
    {{input type="text" value=telefono class="form-control" placeholder="3013453564" aria-describedby="basic-addon1"}}
  </div>
  <br>
  <button type="button"  class='btn btn-lg btn-success btn-block' {{action 'agregarContacto'}}>Agregar contacto</button>
  {{#link-to 'contactos' class='btn btn-lg btn-danger btn-block'}}
    Cancelar
  {{/link-to}}
</div>
{{outlet}}
