{{#each flashMessages.queue as |flash|}}
  {{#flash-message flash=flash as |component flash|}}

    {{flash.message}}
  {{/flash-message}}
{{/each}}

{{#link-to 'contactos.agregar-contacto' class='btn btn-success'}} Agregar contacto {{/link-to}}
{{#link-to 'index' class='btn btn-default'}}
  Regresar
{{/link-to}}



{{#if model}}
<h1>Contactos</h1>
<table class="table">
  <thead>
    <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Tipo de contacto</th>
    <th>Teléfono</th>
    <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |contacto|}}
      <tr>
        <td>{{contacto.nombre}}</td>
        <td>{{contacto.apellido}}</td>
        <td>{{contacto.tipoContacto}}</td>
        <td>{{contacto.telefono}}</td>
        {{#if (eq contacto.tipoContacto 'Propietario')}}

        {{else}}
          <td>
            {{#link-to 'contactos.contacto.editar-contacto' contacto.id class='btn btn-primary'}}Editar{{/link-to}}
            <button type="button" name="button" {{action 'eliminarContacto' contacto}} class='btn btn-danger'>Eliminar</button>
          </td>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
  <h2>Usted no tiene contactos registrados</h2>
{{/if}}
{{outlet}}
