{{#link-to 'contactos.agregar-contacto' class='btn btn-success'}} Agregar contacto {{/link-to}}
{{#link-to 'index' class='btn btn-default'}}
  Regresar
{{/link-to}}
<h1>Contactos</h1>
{{#each flashMessages.queue as |flash|}}
  {{#flash-message flash=flash as |component flash|}}
    <b>{{component.flashType}}!</b>
    {{flash.message}}
  {{/flash-message}}
{{/each}}
<table class="table">
  <thead>
    <tr>
    <th>Nombre</th>
    <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |contacto|}}
      <tr>
        <td>{{#link-to 'contactos.contacto' contacto.id}} {{contacto.nombre}} {{/link-to}}</td>
        <td>
          {{#link-to 'contactos.contacto.editar-contacto' contacto.id class='btn btn-primary'}}Editar{{/link-to}}
          <button type="button" name="button" {{action 'delete' contacto.id}} class='btn btn-danger'>Eliminar</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{outlet}}
