<h1>Detalles de usuario</h1>
{{#each flashMessages.queue as |flash|}}
  {{#flash-message flash=flash as |component flash|}}
    <b>{{component.flashType}}!</b>
    {{flash.message}}
  {{/flash-message}}
{{/each}}
<table class="table">
  <thead>
    <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Municipio</th>
    <th>Departamento</th>
    <th>Teléfono</th>
    <th>Correo electrónico</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{model.nombre}}</td>
      <td>{{model.apellido}}</td>
      <td>{{model.municipio}}</td>
      <td>{{model.departamento}}</td>
      <td>{{model.telefono}}</td>
      <td>{{model.correo}}</td>
    </tr>
  </tbody>
</table>
<div class="text-center">

{{#link-to 'proyectos' class='btn btn-primary'}}
Proyectos
{{/link-to}}

{{#link-to 'contactos' class='btn btn-success'}}
Contactos
{{/link-to}}

{{#link-to 'propiedades' class='btn btn-warning'}}
Propiedades
{{/link-to}}

{{#link-to 'editar-usuario' class='btn btn-info'}}
Editar Usuario
{{/link-to}}

</div>
{{outlet}}
