<div class='page-header form-signin '>
    <h1>Ingreso</h1>
</div>
<div class="form-signin">
  {{#each flashMessages.queue as |flash|}}
    {{#flash-message flash=flash as |component flash|}}
      
      {{flash.message}}
    {{/flash-message}}
  {{/each}}


  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">@</span>
    {{input type="text" value=correo class="form-control" id="inputEmail" placeholder="Correo" aria-describedby="basic-addon1"}}
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">***</span>
    {{input type="password" value=contrasena class="form-control" id="inputPassword" placeholder="Contraseña" aria-describedby="basic-addon1"}}
  </div>
<br>
  <button class='btn btn-lg btn-primary btn-block' {{action 'iniciarSesion'}}>
      {{fa-icon 'sign-in'}} Iniciar Sesión
  </button>
<br>

<div class="form-signin">
  {{#link-to 'registrar-usuario' class='btn btn-lg btn-success btn-block'}}Agregar usuario{{/link-to}}
</div>
</div>
{{outlet}}
