<div class='page-header form-signin '>
    <h1>Ingreso</h1>
</div>
<div class="form-signin">
  <div id="mensaje" role="alert">

  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">@</span>
    {{input type="text" value=nombreUsuario class="form-control" id="inputEmail" placeholder="Nombre usuario" aria-describedby="basic-addon1"}}
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">***</span>
    {{input type="password" value=contrasena class="form-control" id="inputPassword" placeholder="Contraseña" aria-describedby="basic-addon1"}}
  </div>
<br>
  <button class='btn btn-lg btn-primary btn-block' {{action 'IniciarSesion'}}>
      {{fa-icon 'sign-in'}} Iniciar Sesión
  </button>
<br>
</div >
<div class="form-signin">
  {{#link-to 'registrar-usuario' class='btn btn-lg btn-success btn-block'}}Agregar usuario{{/link-to}}
</div>

{{outlet}}
